/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#road_yellow{
	-fx-background-color: yellow;
}
#road_black{
	-fx-background-color: black;
}
#yellow1 ,#yellow2 ,#yellow3 ,#yellow4{
	-fx-fill: rgba(255,255,0,0.5) ;
}
#red1 ,#red2 ,#red3 ,#red4{
	-fx-fill: rgba(255,0,0,1); 
	-fx-effect: dropshadow( one-pass-box , rgba(255,0,0,0.6) , 20 , 10 , 0 , 0 );
}
#green1 ,#green2 ,#green3 ,#green4{
	-fx-fill: rgba(0,170,0,0.5); 
}
